<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %>
<% end %>

<% @items.each do |item| %>
  <p><%= item.title %> | <%= number_to_currency(to_currency(item.price)) %> | <%= button_to 'Add to Cart', line_items_path(item_id: item) %></p>
<% end %>