<nav class="">
    <ul>
        <li> <%= link_to "Store Home", store_path %> </li>
        <% if current_user && current_user.current_cart %>
          <li> <%= link_to "Cart", cart_path(current_user.current_cart) %></li>
        <% end %>
        <%= render partial: 'layouts/sign_in' %>
    </ul>
</nav>
